.destaque {
    background-color: var(--color-bege1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-l) 0;
    width: 100%;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destaque-titulo {
    line-height: 6rem;
    color: var(--color-coral);
    span {
        color: var(--color-verde2);
    }
}

.banner img {
    max-width: 50%;
}

.banner h1 {
    max-width: 50%;
}

@media screen and (max-width:1024px) {
    .destaque {
        padding: var(--padding-m) 0;
    }
    .banner {
        flex-direction: column;
    }
    .banner h1 {
        font-size: var(--font-size-h2);
        line-height: 3rem;
    }
    .banner img {
        max-width: 75%;
    }
    
    .banner h1 {
        max-width: 75%;
        text-align: center;
    }
}

@media screen and (max-width:700px) {
    .banner h1 {
        font-size: var(--font-size-h3);
        line-height: 2.5rem;
    }
    .banner img {
        max-width: 90%;
    }
    
    .banner h1 {
        max-width: 90%;
        text-align: center;
    }
}